# 1. Rename gitea.env.dist to gitea.env locally.
# 2. Add missing variables marked with <ToAdd>


# ---------------------
# database
# ---------------------

DB_PORT=<ToAdd>
MYSQL_DATABASE=gitea
MYSQL_USER=gitea
MYSQL_ROOT_PASSWORD=<ToAdd>
MYSQL_PASSWORD=<ToAdd>


# ---------------------
# database backup
# ---------------------

DOCKER_REGISTRY=<ToAdd>
# not needed here, because it is already configured above
# MYSQL_ROOT_PASSWORD=


# ---------------------
# gitea
# ---------------------

APP_PORT=<ToAdd>
APP_SSH_PORT=<ToAdd>