# 1. Rename cicd.env.dist to cicd.env locally.
# 2. Add missing variables marked with <ToAdd>

# ---------------------
# docker registry
# ---------------------

DOCKER_REGISTRY_PORT=<ToAdd>


# ---------------------
# baget database
# ---------------------

NUGET_DB_PORT=<ToAdd>
MYSQL_DATABASE=baget
MYSQL_USER=baget
MYSQL_PASSWORD=<ToAdd>
MYSQL_ROOT_PASSWORD=<ToAdd>

# ---------------------
# baget database backup
# ---------------------

DOCKER_REGISTRY=<ToAdd>
# not needed here, because it is already configured above
# MYSQL_ROOT_PASSWORD=

# ---------------------
# baget - nuget
# ---------------------

NUGET_PORT=<ToAdd>
ApiKey=<ToAdd>


# ---------------------
# jenkins
# ---------------------

BUILD_SERVER_PORT=<ToAdd>