# 1. Rename cicd.env.dist to cicd.env locally.
# 2. Add missing variables marked with <ToAdd>


# ---------------------
# docker
# ---------------------

DOCKER_TLS_CERTDIR=/certs


# ---------------------
# baget - nuget
# ---------------------

# database config
MYSQL_DATABASE=baget
MYSQL_USER=baget
MYSQL_PASSWORD=<ToAdd>
MYSQL_ROOT_PASSWORD=<ToAdd>

# database backup config
DOCKER_REGISTRY=<ToAdd>
MYSQL_CONTAINER_NAME=baget-db
# not needed here, because it is already configured above
# MYSQL_DATABASE=
# MYSQL_ROOT_PASSWORD_FILE=
KEEP_DAILY=7
KEEP_WEEKLY=5
KEEP_MONTHLY=12

# baget config
NUGET_PORT=<ToAdd>
NUGET_DB_PORT=<ToAdd>
ApiKey=<ToAdd>
Storage__Type=FileSystem
Storage__Path=/var/baget/packages
Database__Type=MySql
Database__ConnectionString=Server=baget-db;Port=3306;Database=${MYSQL_DATABASE};Uid=baget;Pwd=${MYSQL_PASSWORD}
Search__Type=Database


# ---------------------
# jenkins
# ---------------------

JENKINS_PORT=<ToAdd>
DOCKER_HOST=tcp://docker:2376
DOCKER_CERT_PATH=/certs/client
DOCKER_TLS_VERIFY=1